@charset "utf-8";

/* 共通　*/
body {
  font-family: 'Lato';
}

h1,h2 {
  font-family: 'Raleway';
}

.inner {
  width: 1100px;
  margin: 0 auto;
  max-width: 100%;
}

.backcolor__gray {
  background-color: #f2f2f2;
}

.backcolor__green {
  background-color: #74cfae;
}

/*header*/
.header__logo {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.left__box {
  font-size: 40px;
}

.right__box {
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  color: #fff;
  transition: color 0.3s;
}

.right__box:hover {
  color: black;
  transition: color 0.3s;
}

.mobile__icon {
  display: none;
}

/*Bolt Theme*/

.top__title {
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt__main__text {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  text-align: center;
  margin-bottom: 20px;
}

.bolt__sub__text {
  font-size:30px;
  color: #c0c0c0;
  text-align: center;
}

/*What we can do*/

.phone__image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.right__image {
  margin-left: 100px;
}

.phone {
  color: #fff;
  text-align: center;
}

.main__text {
  font-size: 24px;
  margin-bottom: 35px;
}

.sub__text {
  font-size: 20px;
}

/*Our Ltest Work*/

.second__main {
  padding-top: 60px;
  padding-bottom: 70px;
}

.valious__image__title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.img_parent {
  display: flex;
  flex-wrap: wrap;
}

.valious__image {
  opacity: 0.7;
  margin-top: 80px;
  margin-left: 100px;
  transition: opacity 0.3s;
}

.valious__image:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.valious__image:nth-child(3n+1) {
  margin-left: 0;
}

.valious__image:nth-child(-n+3) {
  margin-top: 0;
}

.rap {
  margin-top: 90px;
}

.valious__image__subtext {
  display: flex;
  text-align: center;
  width: 650px;
  margin: 0 auto;
}

.flexright {
  background-color: #74cfae;
  color: #fff;
  padding: 14px 20px;
  margin-left: 90px;
  font-size: 12px;
  transition: color 0.3s;
  line-height: 2;
}

.flexright:hover {
  color: black;
  transition: color 0.3s;
}

/*Our skills*/

.third__image {
  background-color: #4e4e4e;
}

.third__image__wrapper {
  padding-top: 70px;
  padding-bottom: 100px;
}

.loading__maintext {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-bottom:70px;
}

.loading__main__image {
  display: flex; 
  justify-content: center;
}

.loading__image {
  margin-right: 180px;
}
.loading__image:last-child{
  margin-right: 0;
}

.loading__name {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

/*logo*/

.valious__logo__wrapper {
  padding-top: 200px;
  padding-bottom: 200px;
}

.valious__logo__parent {
  display:flex;
  justify-content: center;
}

.valious__logo__child {
  font-size: 80px;
  color: #74cfae;
  text-align: center;
  align-items: center;
  padding: 15px;
  width: 185px;
  transition: background-color 0.3s;
}

a.valious__logo__child:hover {
  background-color: #fff;
  transition: background-color 0.3s;
}

/*footer*/

.footer__inner {
  padding-top:20px;
  padding-bottom: 25px;
  text-align: right;
}

.footer__text {
  color: #fff;
}

/*----- pad ----------*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
  }

  .right__image {
    margin-left: 0;
  }

  .img_parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    vertical-align: bottom;
  }

  .valious__image {
    margin: 0;
  }
  
  .valious__image:nth-child(4n) {
    margin-top: 80px;
  }

  .valious__image__subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flexright {
    margin: 0 auto;
    margin-top: 40px;
  }

  .loading__main__image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .loading__image {
    margin-right: 0;
    margin-bottom: 88px;
  }

  .loading__image:last-child {
    margin-bottom: 0;
  }
}

/*----- sp ----------*/

@media screen and (max-width: 767px) {

.right__box {
  display: none;
}

.mobile__icon {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.icon__border {
  background-color: #ddd;
  width: 35px;
  margin-top: 0px;
  margin-bottom: 7px;
}

.icon__border:last-child {
  margin-bottom: 0;
}

.top__title {
  padding-top: 160px;
  padding-bottom: 130px;
}

.bolt__main__text {
  font-size: 80px;
}

.phone__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
}

.right__image {
  margin-top: 20px;
  margin-left: 0;
}

.img_parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  vertical-align: bottom;
}
.valious__image  {
  margin: 0;
}

.valious__image:nth-child(4n) {
  margin-top: 50px;
}

.valious__image__subtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flexright {
  margin: 0 auto;
  margin-top: 30px;
}

.loading__main__image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading__image {
  margin: 0;
  margin-bottom: 80px;
}

.loading__image:last-child {
  margin-bottom: 0;
}

.valious__logo__parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valious__logo__wrapper {
  padding: 0;
  padding: 50px 15px;
}

.valious__logo__child {
  box-sizing: border-box;
  width: 100%;
}

}

